@let variantClass = 'card--' + variant();

<article
  class="card"
  [class]="variantClass"
  [class.card--clickable]="clickable()"
  [class.card--with-bg]="!!image()"
  [style.background-image]="image() ? 'url(' + image() + ')' : null"
  [attr.aria-label]="imageAlt() || null"
  [attr.tabindex]="clickable() ? 0 : null"
>
  <div class="card__body">
    @if (title()) {
      <h3 class="card__title">{{ title() }}</h3>
    }
    @if (description()) {
      <p class="card__description">{{ description() }}</p>
    }
    <ng-content />
  </div>

  <ng-content select="[card-footer]" />
</article>
